<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Too Many Requests</title>
    <link rel="stylesheet" href="/gstatic/css/bulma.min.css">
</head>

<body>

<section class="hero is-danger">
    <div class="hero-body">
        <p class="title">Too many requests</p>
        <p class="subtitle">Touch grass or something, idk.</p>
    </div>
</section>

<div class="content has-text-centered">
    <p style="font-size:256px">429</p>
</div>

</body>
</html>