<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Unworthy</title>
    <link rel="stylesheet" href="/gstatic/css/bulma.min.css">
</head>

<body>

    <section class="hero is-large is-danger">
        <div class="hero-body">
            <p class="title">Unworthy</p>
            <p class="subtitle">You have been judged <strong>unworthy</strong> to access this resource.</p>
        </div>
    </section>


    <div class="content has-text-centered">
        <p style="font-size:256px">496</p>
    </div>

</body>

</html>