<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>We know</title>
        <link rel="stylesheet" href="/gstatic/css/bulma.min.css">
        <link rel="stylesheet" href="/gstatic/css/spinner.css">

    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">We know</p>
                <p class="subtitle">We see what you are.</p>
            </div>
        </section>

        <div class="content has-text-centered">
            <p class="py-6"></p>
            <span class="loader is-centered"></span>
            <p class="py-6">You're causing quite a ruckus. We'll allow you back in once things have cooled down.</p>
        </div>

    </body>
</html>
